body {
  background-color: #363942;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
  min-height:100%;
  position:relative;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  margin: 13px auto 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: left;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #a3a8b6;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.logo {
  margin-top: 20px;
  float: left;
}
.tagline {
  margin-top: -20px;
  margin-bottom: 20px;
  float: right;
}
.me {
  width: auto;
  margin: 20px 11px 10px 0px;
  float: left;
}
.about {
  width: 100px;
  height: 100px;
}
.about:hover{
  opacity:0.6;
}
.portfolio {
  width: 100px;
  height: 100px;
}
.portfolio:hover{
  opacity:0.6;
}
.resume {
  width: 100px;
  height: 100px;
  margin-top: -15px;
  margin-bottom: -10px;
  float: right;
}
.resume:hover{
  opacity:0.6;
}
.contact {
  width: 100px;
  height: 100px;
  margin-bottom: 4px;
  float: none;
}
.contact:hover{
  opacity:0.6;
}
.body {
  margin-top: -120px;
  padding-right: 89px;
  color: #a3a8b6;
}
.facts {
  margin-top: 20px;
  padding-right: 0px;
  padding-left: 25px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #a3a8b6;
}
.heads {
  margin-top: 20px;
  margin-right: -35px;
  padding-right: 31px;
  padding-left: 15px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #a3a8b6;
}
.middle {
  padding-top: 45px;
  padding-bottom:190px;
  background-color: #363942;
}
.header {
  background-color: #424347;
}
.nav {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#footer{
  margin:30px 90px 0 0;	
  font-size:15px;
  width:100%;
  bottom:0;
  position:fixed;
  background-color:#424347;
}
#footer p{
  float:right;
  margin:20px 90px 20px 0;
  padding:4px 0;
}
#footer a:link{
  color:#a3a8b6;
  padding:19px 0;
}
#footer a:hover{
  color:#e3e6ef;
  text-decoration:none;
}
.nav-button, .primary-nav{
display:none;
}
  
  
@media (max-width: 991px) {
  p {
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  p {
    float: none;
  }
  .logo{
	  margin-left:10px;
  }
  .about {
    float: none;
  }
  #desknav{
	  display:none;
  }
  	/* Navigation Button
	-------------------------------------------------------- */

	.nav-button {
		display: block;
		position: relative;
		float:right;
		top: -60px;
		left: 7px;
		width: 50px;
		height: 35px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
		background-color: #424347;
		cursor: pointer;
		border-radius: 2px;
		border: none;
		z-index: 999;
		margin-right: 30px;
	}
	.nav-button:hover { 
		background-color: #e3e6ef; 
	}
	.nav-button.open {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
		border: none;
	}
	.nav-button:focus{
		outline:none;
	}
	.nav-button.open:focus{
		border:1px solid #a3a8b6;
	}

	/* Navigation Bar
	-------------------------------------------------------- */


	.primary-nav {
		width: 100%;
		background-color: #424347; /* change the menu color */
		display: block;
		margin: 0;
		z-index: 998;
	}
	.primary-nav li {
		display: none;
		width: 100%;
	}
	.primary-nav li a {
		display: block;
		width: 100%;
		padding: 10px 5%;
		font-size: 16px;
		font-weight: bold;
		color: #a3a8b6;
		text-decoration: none;
	}
	.primary-nav li a:hover {
		color: #e3e6ef;
	}
	.mobilestamp{
		padding-right: 10px;
	}

	/* Toggle the navigation bar open  */

	.primary-nav.open { 
		height: auto; 
	}
	.primary-nav.open li { 
		display: block; 
		padding-top:10px;
	}

/* End Mobile Styles */
}
@media (max-width: 479px) {
  .body {
    padding-right: 10px;
    padding-left: 10px;
  }
  .logo{
	  margin-left:5px;
  }
  .nav-button{
	  margin-right:10px;
  }
}