body {
  background-color: #363942;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
  min-height:100%;
  position:relative;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  margin: 13px auto 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: left;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #a3a8b6;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.logo {
  margin-top: 20px;
  float: left;
}
.tagline {
  margin-top: -20px;
  margin-bottom: 20px;
  float: right;
}
.me {
  width: auto;
  margin: 20px 11px 10px 0px;
  float: left;
}
.about {
  width: 100px;
  height: 100px;
}
.about:hover{
  opacity:0.6;
}
.portfolio {
  width: 100px;
  height: 100px;
}
.portfolio:hover{
  opacity:0.6;
}
.resume {
  width: 100px;
  height: 100px;
  margin-top: -15px;
  margin-bottom: -10px;
  float: right;
}
.resume:hover{
  opacity:0.6;
}
.contact {
  width: 100px;
  height: 100px;
  margin-bottom: 4px;
  float: none;
}
.contact:hover{
  opacity:0.6;
}
.body {
  margin-top: -120px;
  padding-right: 89px;
  color: #a3a8b6;
}
.facts {
  margin-top: 20px;
  padding-right: 0px;
  padding-left: 25px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #a3a8b6;
}
.heads {
  margin-top: 20px;
  margin-right: -35px;
  padding-right: 31px;
  padding-left: 15px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #a3a8b6;
}
.middle {
  padding-top: 45px;
  padding-bottom:190px;
  background-color: #363942;
}
.header {
  background-color: #424347;
}
.nav {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#footer{
  margin:30px 90px 0 0;	
  font-size:15px;
  width:100%;
  bottom:0;
  position:fixed;
  background-color:#424347;
}
#footer p{
  float:right;
  margin:20px 90px 20px 0;
  padding:4px 0;
}
#footer a:link{
  color:#a3a8b6;
  padding:19px 0;
}
#footer a:hover{
  color:#e3e6ef;
  text-decoration:none;
}

  
  
@media (max-width: 991px) {
  p {
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  p {
    float: none;
  }
  .about {
    float: none;
  }
.display{
	display:none;	
}
#width{
	width:10%;	
}
#customForm{
	display:inline-block;
}
.mobilemenu{
	height:40px;
	margin:30px 11px 19px 19px;	
}
.mobilemenu img{
	width:49px;
	height:49px;

}
.mobilemenu, .sub-menu{
  padding:0;
  margin:0;
  float:right;
}
.mobilemenu, .sub-menu{
  list-style-type:none;
  display:inline-block;
}
.mobilemenu a, .sub-menu li a{
  text-decoration:none;
  color:#fff;
  display:inline-block;
}
.sub-menu li{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color:#e3e6ef;
  background-color:#424347;
  padding:10px 289px 10px 10px;
  margin-left:-29px;
}
nav .mobilemenu{
  position:relative;
  padding:33px 19px 69px 39px;
}
ul.sub-menu{
  display:none;
  margin-top:109px;
  top:30px;
  left:0;
  width:40px;
  padding:0;
  border-radius:0 0 .2em .2em;
  	li{
		list-style-type:none;
		a{
			text-decoration:none;
			padding:.5em 1em;
			display:block;
		}
	}
}
}
@media (max-width: 479px) {
  .body {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .mobilemenu, .sub-menu{ display: block; }  /* show it on small screens */
}

@media screen and (min-width: 768px) and (max-width: 100000000px) {
  .mobilemenu, .sub-menu{ display: none; }   /* hide it elsewhere */
}